package {{package}}.factories;

import {{package}}.service.{{classname}}Service;
import org.dcs.osgi.FrameworkService;

{{>generatedAnnotation}}
public class {{classname}}ServiceFactory {
   
   public static {{classname}}Service get{{classname}}()
   {
      return ({{classname}}Service) FrameworkService.getService({{classname}}Service.class.getName());
   }
}